# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.poizn
.git1
.git2
.git3
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.stylelintcache

# Local env files
.env
.env.*
!.env.example
