@use '@/assets/scss/_settings.scss' as *;
@use '@/assets/scss/_variables.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;
@use '../../node_modules/swiper/swiper.scss' as *;
@use '../../node_modules/swiper/swiper-vars.scss' as *;

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--bg-main);
	&:has(.layout-cover) {
		@media (max-width: 1199.98px) {
			overflow: hidden;
		}
	}
}

.grecaptcha-badge {
	z-index: 500;
	display: none;
	&:hover {
		right: 0 !important;
	}
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}

.link {
	color: var(--blue);
	&:visited {
		color: var(--purple);
	}
}

.required {
	&::after {
		content: '*';
		color: var(--danger);
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.page-enter-active,
.page-leave-active {
	/* transform-origin: top; */
	transition: opacity 0.3s;
	/* transform 0.3s, filter 0.3s; */
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	/* filter: blur(0.5rem) contrast(4); */
	/* transform: scale(0.95); */
}
